:root.theme-dark {
  --main-text-color: #F1B2CE;
  --accent-color: #FF0070;
  --accent-title-color: #FF0070;
  --title-color: #DB00FF;
  --main-color: #000028;
  --cover-image: url(../images/cover-image-dark.png);
}