:root.theme-light {
  --main-text-color: #353430;
  --accent-color: #353430;
  --accent-title-color: #FF8DCB;
  --title-color: #FFC2E6;
  --main-color: #353430;
  --cover-image: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
  :root {
    --main-text-color: #353430;
    --accent-color: #353430;
    --accent-title-color: #FF8DCB;
    --title-color: #FFC2E6;
    --main-color: #353430;
    --cover-image: url(../images/cover-image-light.png);
  }
}